body{
	background-color:#222222;
    font-family: Arial;
}
div{
	background-color:#ffffff;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    font-weight: bolder;
}
.dropbtn{
    padding: 2px;
    border: none;
    background-color: #222222 
}
.dropdown{
    display: inline-block;
    background-color: #222222;
    position: relative;
}
.dropdown-content{
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}
.dropdown-content a {;
    text-decoration: none;
    padding: 20px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}